{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>RampDB</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- Custom scripts for this template -->
  <script src="{% static 'jquery-1.12.0.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <script src="{% static 'home.js' %}"></script>
  <script src=//cdn.bio.sh/msa/1.0/msa.min.gz.js></script>
	
</head>

<body ng-app="homeApp" ng-controller="myCtrl">
<nav class="navbar navbar-inverse">
  <!--Logo-->
  <div class="container-fluid" id="navbar_box" style="width: 100%">
      <div class="navbar-header">
      <a href="{% url 'index' %}" class="navbar-brand" style="margin-right: 4px; width:54px;"><img src="{% static 'logo.png' %}" style="width: 175%;"></a>
	  </div>

    <div>
      <u1 class="nav navbar-nav">
        <li class="active"><a href="{% url 'index' %}" ng-click="backtoHome()">Home</a></li>
        <li><a href="{% url 'info' %}">RAMP Information</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a target="_blank" ng-href="http://jordan.biology.gatech.edu/page/">Contact</a></li>

      </u1>
        <a class='btn btn-primary btn-lg' id='export_button' href='#' ng-hide="home"role='button'>Export Results</a>
        <a class='btn btn-primary btn-lg' id='export_button' href='' ng-hide="home"  ng-click="backtoHome()" role='button'>Search Again</a>
    </div>
  </div>
</nav>
    <div class="container-fluid">
	<div class="row">
		<br>
		<div id="about_text" class="col-sm-6">
			<h2><span style=font-weight:bold>RampDB:</span></h2>
			<p>The goal of RampDB is to serve as a central repository for exploring currently known and predicting RAMP interactions. RampDB itself is a MySQL database
				with the following data model. 
			</p>
			<br>
			<h2><span style=font-weight:bold>Data Model:</span></h2>
			<p>The data model was designed with a normalized approach to reduce redudancy, and to allow for rapid 
				acquisition of interaction data for each result.
			</p>
			<p>The database is loaded automatically with scripts which search for proteins matching a certain family,
				and then filters out the false positive entries through a heuristic approach. This loading is also designed
				to recognize updates to current entries and to update them in RampDB.  
			</p>
		</div>
		<div class="col-sm-6">
			<img class="img-responsive" style="width:95%"src="{% static 'rampdb.png' %}"/>
		</div>
	</div>
	<hr>
	<div class="row">
		<div id="about_text" class="col-sm-6">
			<h2><span style=font-weight:bold>Prediction Algorithm:</span></h2>
			<p>The main feature of RampDB is the prediction function. This utility allows the user to input
				either a FASTA <span style=font-weight:bold>protein</span> or <span style=font-weight:bold>ligand</span> query, and predicts whether or not that query could have RAMP or RAMP-like
				interactions.
			</p>
			<br>
			<h2><span style=font-weight:bold>Proteins:</span></h2>
                        <p>For protein queries, the first step is to do a local blast against all proteins in RampDB.
                                The goal of this is to quickly determine the potential family of the query.
                        </p>
                        <p>
                                If a family is identified, the next step is to use HMMscan to compare it against a pre-built HMM profile of the RAMP interacting domain
                                 in that protein to determine the similarity.
                                If no match is found, the query is scanned against all the prebuilt HMM profiles for each family 
                                 to determine the liklihood of any interaction.
                        </p>

			<br>
			<h2><span style=font-weight:bold>Ligands:</span></h2>
                        <p>
                                For ligand queries, the following search terms are acceptable:
                               	<ul>
                               	<li> Ligand Name (case insensitive)</li>
                               	<li> Partial Ligand Name (case insensitive)</li>
                                <li> InChiKey</li>
                               	</ul>
                       	</p>
                        <p>
                                When a ligand query is submitted, the first step is to search for an exact match in RampDB. If no match is found, 
                                the query is searched against PubChem's database for 2D similarity, and those results are checked for ligands known to have RAMP interactions.
                        </p>
                       	<p>
                               	The <b>Tanimoto Score</b> between two ligands is used to determine their similarity. This works by
                                dividing the intersect of the descriptors between the query and subject by the union of the descriptors.
                        </p>
                        <p>
                               	<b>Descriptors used: </b>Atom count, ring count, atom sequence, bond sequence, augmented atoms, degree of connectivity, element composition, type of ring fusion
                        </p>
                        <p>
                                <b>Tanimoto Score:</b>
                               	<ul>
                               	<li> Score = <b>C</b> / ((<b>QS</b> + <b>FS</b>) – <b>C</b>) </li>
                                <li> <b>C</b> = number of descriptors shared by query and subject </li>
                                <li> <b>QS</b> = number of descriptors in the query</li>
                                <li> <b>FS</b> = number of descriptors in the subject</li>
                                </ul>
                        </p>

		</div>
		<div class="col-sm-6">
			<img class="img-responsive" src="{% static 'update_predict_algo.png' %}"/>
		</div>
	</div>
    </div>
</body>



</html>


